@import "compass/reset";
@import "compass";

//////////////// VARIABLES ////////////////

////////////////colors

	$dark_purple : 	rgba(43,40,53,1);
	$grey_purple :	rgba(89,89,104,1);
	$white : 		rgba(255,255,255,1);
	$black : 		rgba(0,0,0,1);
	$sand : 		rgba(232,204,175,1);
	$dark_sand :	rgba(137,130,121,1);

///////////////////////////////////////////
body{
	background-color: $dark_purple;
	color:$white;
	font-family: 'PT Sans Narrow', sans-serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	font-size: 16px;
	overflow: hidden;
}

a{
	color:$sand;
	text-decoration:none;
	@include transition(color 0.3s ease-in);

	&:hover, &:active{
		color:$white;
	}
}

#wrapper {
	width: 100%;
	position:absolute;
	top:40%;
  	text-align: center;
	@include transition(top 0.3s ease-in);
}

#search_form{
	width:240px;
	height:30px;
	margin-bottom: 0px;
	@include inline-block; 
	text-align: left;
	@include transition(width 0.3s ease-in);
	@include box-shadow(white 0 0 150px);
	@include border-radius(5px);
}

#search_input{
	background-color:$white;
	color: $dark_purple;
	font-size: 0.95em;
	font-family: 'PT Sans Narrow', sans-serif, "Lucida Sans Unicode", "Lucida Grande", sans-serif;	
	padding:3px 20px 3px 5px;
	margin:0;
	width:153px;
	height: 22px;
	border: 1px $grey_purple solid;
	@include border-bottom-left-radius(5px);
	@include border-top-left-radius(5px);
	@include box-shadow($dark_sand 0 0 5px inset);
	@include transition(all 0.3s ease-in);

	&:focus{
		outline:0;
	}
}

#clear_bttn, #clear_bttn:active{
	background-color: $white;
	margin:0 2px 3px -23px;
	padding:0;
	@include border-radius(50%);
	border: 1px $grey_purple solid;
	width:13px;
	height:13px;
	line-height:0;
	text-align:center;
	vertical-align: middle;
	font-size: 9px;
	color:$grey_purple;
	@include transition(background-color 0.3s ease-in, color 0.1s ease-in);

	&:hover{
		background-color:$grey_purple;
		color:$white;
		cursor:pointer;
	}
}

#submit_button{
	background-color:$grey_purple;
	height: 100%;
	padding: 5px;
	@include float(right);
	font-size: 0.9em;
	letter-spacing: 1px;
	color:$white;
	font-family: 'Lobster', cursive;
	@include single-text-shadow($dark_purple);
	width:25%;
	border: 0px $grey_purple solid;
	@include border-top-right-radius(5px);
	@include border-bottom-right-radius(5px);
	@include transition(all 0.5s ease-in);

	&:hover{
		@include single-text-shadow(darken($dark_purple, 40%));		
		color:darken(white, 20%);
		cursor:pointer;
	}
}

#results_display{
	width:240px;
	text-align: left;
	margin:0 auto 50px auto;
	padding:0;
	@include transition(all 0.3s ease-in);	
}

#results_display li{
	@include single-text-shadow($dark_purple);	
	font-size: 0.8em;
	margin:0;
	padding:1px 15px 2px 15px;
	list-style-type:none;
	border: 1px $grey_purple solid;
	border-top: 0;
	overflow:auto;
	@include transition(all 0.3s ease-in);
}

.list_element:hover{
	background-color: $grey_purple;
	cursor: pointer;
}

.movie_title{
	white-space: nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	@include inline-block;
	max-width:163px;
	font-weight: 600;
	padding-right:2px;
	font-style: normal;
	margin-top: 3px;

}

.year{
	margin:3px 0 0 3px;
	padding:0;
	@include float(right);
	@include inline-block;
	font-size: 0.9em; 
}

.movie_image_box{
	@include float(left);
	margin: 4px 6px 4px -4px;
	height:75px;
	width:50px;
	@include inline-block;
	overflow: hidden;
	background-image: url('../img/no_poster.png');
	background-size: 100% auto;
}

.movie_image{
	width:100%;
}

.overview{
	overflow: hidden;
	white-space: normal;
	text-align: justify;
	font-size: 0.9em;
	font-style: italic;
	margin: 2px 0 5px 5px;
	padding-right:2px;
}

#pages{
	font-size:0.9em;
	display: inline-block;
	margin:5px 0 60px 0;
	width:100%;
	text-align: center;
}

#prev_page{
	@include float(left);
}

#next_page{
	@include float(right);
}

#blurred_bottom{
	width:100%;
	position:fixed;
	display: block;
	margin:0;
	padding:0;
	bottom:-50px;
	height:50px;
	border:0;
	z-index: 1999;
	@include box-shadow($dark_purple 0px -35px 30px 10px);
}
